# Generated manuscript output files
output/index.html
output/manuscript.pdf
output/manuscript.docx
output/*.ots

# Generated reference files
references/generated/*
!references/generated/README.md

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Misc temporary files
*.bak

