# Generated manuscript output files
output/*
!output/README.md

webpage/v

# Manubot cache directory
ci/cache

# Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Misc temporary files
*.bak

