dist: trusty
sudo: false
language: generic
services:
  - docker
branches:
  only:
    - master
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-4.6.14-Linux-x86_64.sh
    --output-document miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - source $HOME/miniconda/etc/profile.d/conda.sh
  - hash -r
  - conda config
    --set always_yes yes
    --set changeps1 no
install:
  - conda env create --quiet --file build/environment.yml
  - conda list --name manubot
  - conda activate manubot
script:
  - bash build/build.sh
cache:
  directories:
    - ci/cache
deploy:
  provider: script
  script: bash -o xtrace ci/deploy.sh
  skip_cleanup: true
  on:
    branch: master
    condition: $TRAVIS_EVENT_TYPE = "push"
